@import "./typography.css";

* {
  font-family: "Lufga", sans-serif;
}

body {
  margin: 0;
}

.nav a {
  color: #8f90a6 !important;
  font-weight: 600;
  margin: 0px 15px 0px 15px;
  padding: 8px;
  text-decoration: none;
  font: 16px;
  text-transform: uppercase;
}

header {
  margin: auto;
}

footer {
  max-width: 90vw;
}

h1 {
  font-size: 50px !important;
}

#hero {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
#hero .house-img {
  float: right;
}

#hero .container-fluid .row > * {
  padding: 0px !important;
}
.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-decoration: none;
}

.logo {
  padding: 15px 0px;
}

.btn a {
  color: #fff;
  text-decoration: none;
  padding: 15px 5px;
}

.btn a:hover {
  color: #fff;
}

.btn-primary {
  background-color: #1daeef !important;
  border-color: #1daeef !important;
}

.navbar {
  display: flex;
}

.nav {
  width: 100%;
  text-align: right;
}

.nav .cta {
  color: #1daeef !important;
  border: 2px solid #1daeef;
  padding: 5px 15px !important;
  border-radius: 10px;
}
#rennid {
  transition: 1s;
  background-image: url("../images/rennipesu.jpg");
  background-position: center center;
  background-size: cover;
}

#rennid a {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0px;
  transition: 1s;
}

#rennid h2 {
  color: #fff;
  text-decoration: none;
  font-size: 3rem;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}
#rennid:hover a {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  color: #1daeef;
  text-decoration: none;
  padding: 0px;
}

#fassaadipesu {
  transition: 1s;
  background-image: url("../images/fassaadipesu.jpg");
  background-position: center center;
  background-size: cover;
}

#fassaadipesu a {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 0px;
  transition: 1s;
}

#fassaadipesu h2 {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}
#fassaadipesu:hover a {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  color: #1daeef;
  text-decoration: none;
  padding: 0px;
}

#about h2 {
  font-size: 3rem;
}

#about .about-us-row {
  background-image: url("../images/Group.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#cta {
  background-color: #1daeef;
}
#cta .cta-btn-wrapper {
  height: 100%;
  margin: auto;
}

#cta .cta-btn-wrapper .btn-info {
  border-color: #fff;
  padding: 25px 25px;
  background-color: #fff;
  color: #1daeef;
}

#cta .cta-btn-wrapper .btn-info a {
  color: #1daeef;
}

#cta a {
  text-decoration: none;
}

#cta h2 {
  color: #fff;
  text-decoration: underline;
}

#cta p {
  color: #fff;
}
